# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
.env/
.venv/
venv/
ENV/
env/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# CSV Upload Files (optional: ignore uploaded files if not needed in repo)
csv_project/uploads/
*.csv

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Testing / coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml

# Environment variables
.env

# PyCharm
*.iml
.idea/


# Ignore all migration files, but keep the folder and __init__.py
**/migrations/*.py
!**/migrations/__init__.py